h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
    color: #BB2608;
}
h1, h2 {
    font-size: 28px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 18px;
}

blockquote {
    position: relative;
    padding: 5px 25px 5px 30px;
    margin: 20px 0;
    max-width: 800px;
    background: #eee;
}
blockquote:before {
    content: '“';
    font-size: 40px;
    line-height: 1;
    position: absolute;
    top: 5px;
    right: auto;
    bottom: auto;
    left: 5px;
}
blockquote:after {
    content: '„';
    font-size: 40px;
    line-height: 1;
    position: absolute;
    top: auto;
    right: 5px;
    bottom: 5px;
    left: auto;
}
