/* Variable */
$colorRed: #BB2608;
$colorRedLight: #ED300A;
$colorGray: #86888C;
$colorGray2: #B3B3B3;
$colorGray3: #D9D9D9;
$colorGray4: #4D4D4D;
$colorGray5: #737373;
$colorGrayLight: #F2F2F2;
$colorGrayDark: #000000;
$colorGrayDark2: #2C2C2C;
$colorGrayDark3: #1A1A1A;

$LinkColor: $colorRed;
$LinkColorHover: $colorGrayDark;

$minWidth: 2160px;

$letter-spacing: 1px;
$line-height: 1.6;
$FontSize: 1.6rem;
$FontSizeH1: 64px;
$FontSizeH2: 64px;
$FontSizeH3: 48px;
$FontSizeH4: 36px;
$FontSizeH5: 26px;
$FontSizeH6: 20px;