wp-admin
wp-includes
wp-content/languages
wp-content/uploads
wp-content/plugins
wp-content/updraft
wp-content/upgrade
wp-content/upgrade-temp-backup
wp-content/themes/twentytwentyfive
wp-content/themes/twentytwentyfour
index.php
license.txt
readme.html
readme.txt
wp-config-sample.php
wp-config.php
wp-comments-post.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
wp-upgrade.php
wp-xmlrpc.php
wp-login.php
wp-blog-header.php
wp-activate.php
